[Unit]
Description=Nextcloud Remote Access Configuration
Documentation=https://github.com/zubairadair-commits/nextcloud-restore-gui
After=docker.service tailscaled.service
Requires=docker.service
Wants=tailscaled.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/nextcloud-remote-access-startup.sh
Restart=no

[Install]
WantedBy=multi-user.target
